body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: "Noto Sans";

    margin: 20px;
    font-size: 1.1em;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff94;
    border-radius: 1px;
}

a {
    color: rgb(50, 187, 205);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}